*{
	font-family: arial,sans-serif;
	margin: 0;
	padding: 0;
}
nav{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-right: 18px;
	margin-top: 13px;
}
nav a{
	text-decoration: none;
	font-size: 13px;
	color: rgb(0,0,0, 0.87);
	cursor: pointer;	
	padding: 5px 6.7px;
}
nav .gmail{
	cursor: pointer;
	width: 17px;
   	padding-right: 32px;
}
nav .image{
	cursor: pointer;
	width: 17px;
   	padding-right: 63.5px;
}
nav a:hover{
	text-decoration: underline;
	opacity: .85;
}
nav .apps{
	opacity: .7;
	cursor: pointer;
	width: 16px;
   	padding-right: 24px;
}
nav .sign{
	width: 32px;
	border-radius: 100px;
	cursor: pointer;
}
.upper_section .googlelogo{
	margin-top: 13px;
	margin-left: 546px;
	width: 273px;
}
.searchbar{
	width: 580px;
	margin: auto;
	position: relative;	
	text-align: center;
	padding-top: 29px;
}
.searchbar .input{
	border: 1px solid #dfe1e5;
	padding-left: 42px;
	border-radius: 24px;
	height: 44px;
        min-width: 536px;  
} 
.searchbar .input:focus{
	 outline:none;
} 
.searchbar .input:hover{
	box-shadow: 0 0 11px rgba(33,33,33,.19); 
}
.searchbar .search{
	width: 21px;
	opacity: .35;
	position: absolute;
	top: 41px;
	left:14px;
}
.searchbar .micro{
	width: 10px;
	position: absolute;
	top: 42px;
	right: 23px;
}
.s{
	border: 1px solid transparent;
	padding: 0px 16px;
	margin:11px 4px;
	color: #3c4043;
	font-size:14px;
	margin-top: 30px;
	cursor: pointer;
	border-radius: 4px;
	background: #f8f9fa;
	height: 36px;
	line-height: 27px;
}
.s:hover{
	border: 1px solid #e6e6e6;
}
.language{
	margin-top:17px;
	text-align: center;
	font-size:13px;
	color: #111;	
}
.language a{
	word-spacing: 5px;
	text-decoration: none;
	color: #1a0dab;
}

.language a:hover{
	text-decoration: underline;
}
footer{
	position: relative;
	margin-top: 193px;
	background: #F5F5F5;
}
footer h4 {
	color: #70757a;
	padding: 15px 30px;
	font-size: 15px;
	font-weight: 400;
	bottom-border: 1px solid #dadce0;
	
}
footer a{
	display: inline-block;
	text-decoration: none;
	color: #70757a;
	padding: 12px 11px;
	font-size: 14px;
}
footer a:hover{
	text-decoration: underline;
}
.last{	
	padding: 2.5px 20px;
	border: .5px solid #dadce0;
	display: flex;
    	justify-content: space-between;
}