* {
	font-family: segoe ui;
	margin: 0;
	padding: 0;
}
.header {								/*  header   */
	justify-content: space-between;
	border-top: 3px solid #f48225;
	border-bottom: 2px solid #e6e6e6;
	align-items: center;
	background-color: #f8f9f9;
	height: 47px;
	box-shadow: 0px 0px 5px #f8f9f9;
	position: fixed;
	z-index: 1;
	width: 100%;
}
.font_size {
	font-size: 13px;
}
.cursor_pointer{
	cursor: pointer;
}
.display_flex {
	display: flex;
}
.display_inlineflex {
	display: inline-flex;
}
.leftpart img {
	height: 45px;
	width: 158px;
	margin-bottom: 2px;
}
.leftpart .product {
	color: #7d8388;
	margin: 9.5px 0px 0px 8px;
	border-radius: 50px;
	height: 24px;
	width: 63px;
	padding: 4px 0 0 12px;
}
.leftpart .product:hover {
	margin: 9.5px 0px 0px 8px;
	background-color: #cfd6d6;
	border-radius: 50px;
	height: 24px;
	width: 63px;
	padding-top: 4px;
	padding-left: 12px;
	color: #000000;
}
.middlepart {
	border: 1px solid #c9cdd1;
	width: 768px;
	height: 31px;
	margin-left: 7.5px;
	background-color: #ffff;
	border-radius: 3px;
}
.middlepart input {
	border: none;
	width: 736px;
	padding-top: 6px;
	margin-left: 32px;
	color: #797380;
}
.middlepart input:focus {
	outline: none;
}
.middlepart img {
	width: 26px;
	opacity: .2;
	position: absolute;
	top: 10.5px;
	padding-left: 4px;
	color: #ced2d6;
}
.rightpart .btn:hover {
	background-color: #cfd6d6;
}
.rightpart .btn {
	height: 33px;
	width: 81.5px;
	padding: 11.5px 0 0 12px;
	background-color: #f8f9f9;
	border: none;
}
.rightpart .btn .data {
	padding: 3px 0 0 4.5px;
	font-size: 12px;
	font-weight: bold;
}
.rightpart .btn .circle {
	width: 6px;
	height: 6px;
	border-radius: 50px;
	background-color: #d1a684;
	margin: 9px 1px 1px 8px;
}
.rightpart .btn .cdata {
	padding: 5px 0 0 1.7px;
	font-size: 12px;
	color: #c0a38a;
	font-weight: 450;
	font-family: arial, sans-serif;
}
.last1 button {
	width: 43px;
	border: none;
	outline: none;
	background: none;
}
.last2 button {
	outline: none;
	border: none;
}
.last2 button img {
	width: 38.5px;
}
.last3 button {
	border: none;
	background: none;
}
.last3 button img {
	margin: 0px 2px 1px 0px;
	width: 37px;
}
.last4 button {
	border: none;
	background: none;
}
.last4 button img {
	margin: 0px 2px 1px 0px;
	width: 37px;
	padding-top: 2px;
}
.sidebar {
	/*  sidebar   */
	border-right: 1px solid #e0e2e5;
	width: 163.5px;
	height: 540px;
	padding-top: 73px;
	position: sticky;
	top: 0;
}
.sidebar .home {
	padding: 8px 1px 1px 8px;
	margin-bottom: 11px;
	color: #7d8288;
}
.home:hover {
	color: #404244;
}
.sidebar .public {
	font-size: 11px;
	padding: 12px 0px 0px 8px;
	color: #8a9198;
}

ul li{
	list-style-type: none;
}
.text_decoration_none {
	text-decoration: none;
}
.sidebar .options .one {
	margin: 2px 0px;
}
.sidebar .options .material-icons {
	color: #838ca5;
	padding: 10px 0px 0px 7.3px;
	font-size: 19px;
}
.sidebar .options a {
	line-height: 16px;
	position: relative;
}
.sidebar .options .one a {
	bottom: 4.5px;
	right: .7px;
	color: #696f95;
}
.sidebar .options .two {
	height: 35.5px;
}
.sidebar .options .two a {
	top: 5.5px;
	right: 1px;
	padding: 0px 0px 9px 31px;
	color: #696f95;
}
.sidebar .sidebar_hover:hover,.sidebar .opt a:hover{
	color: #404244;
}
.sidebar .options .three {
	height: 34px;
	width: 161px;
	border-right: 3px solid #f48225;
}
.sidebar .options .three a {
	top: 4px;
	right: 1px;
	padding: 0px 0px 9px 31px;
	color: #000000;
	font-weight: bold;
}
.sidebar .options .three {
	background-color: #f1f1f3;
}
.sidebar .options .four {
	height: 33px;
}
.sidebar .options .four a {
	top: 4px;
	right: 1px;
	padding: 0px 0px 9px 31px;
	color: #696f95;
}
.sidebar .option a {
	text-decoration: none;
	color: #696f95;
	font-family: segoe ui;
	position: relative;
}
.sidebar .option .collect a {
	font-size: 11px;
	padding-left: 8px;
	padding-right: 61px;
	bottom: 3.5px;
}
.sidebar .option .material-icons {
	font-size: 14px;
	color: #6a737c;
}
.sidebar .option .collect .material-icons {
	padding: 17.5px 0px 0px 4px;
}
.sidebar .expo img {
	height: 22px;
	width: 24px;
	padding-top: 2px;
	padding-left: 4.5px;
}
.sidebar .expo a {
	bottom: 7px;
	right: 3px;
}
.sidebar .option .team a {
	font-size: 11px;
	padding-left: 8px;
	padding-right: 61px;
	bottom: 4.5px;
}
.sidebar .option .team .material-icons {
	padding: 29px 0px 0px 30px;
}

.sidebar .free img {
	height: 22px;
	width: 24px;
	padding-top: 7px;
	padding-left: 4.5px;
}
.sidebar .free a {
	bottom: 8px;
	right: 3px;
}
.p-image .dp {                           			    /*  mainbody   */
	width: 127.5px;
	height: 128px;
	border: 1px solid #f3f3f3;
	margin: 21px 0px 0px 24px;
	border-radius: 6px;
	box-shadow: 0px 0px 5px #efefef;
}
.display_inline-block {
	display: inline-block;
}
.p-right {
	vertical-align: top;
	padding: 0px 0px 0px 10.4px;
}
.p-right .name {
	font-size: 34px;
	margin-top: 31px;
}
.p-right .day {
	margin-top: 7.5px;
	margin-left: 0.5px;
}
.p-right .day .material-icons {
	font-size: 18px;
	color: #919991;
	padding-top: 1.8px;
}
.cursor_default{
	cursor: default;
}
.dd{
	color: #828597;
	vertical-align: top;
	margin-right: 4px;
}
.day .data4 {
	padding-left: 1px;
}
.p-right button {
	margin-left: 688.5px;
	position: absolute;
	top: 66px;
	width: 75.5px;
	padding: 7px 4px 5px 9.5px;
	font-size: 12px;
	color: #818f99;
	background: none;
	outline: none;
	border: 1px solid #818f99;
	border-radius: 3px;
}
.mainbody .p-right .name .material-icons {
	vertical-align: middle;
	font-size: 19px;
	color: #6a737c;
	padding-left: 1.2px;
	padding-bottom: 2px;
}
.p-right button:hover {
	background-color: #e3e6e8;
}
.main-class {
	padding: 52px 10px 22px 0px;
}
.mainbody .data .material-icons {
	font-size: 21px;
	color: #919991;
}
.mainbody .data {
	padding-top: 4px;
	padding-left: 0.5px;
	line-height: 14px;
}
.mainbody .data .twiter {
	height: 18px;
	width: 20px;
}
.mainbody .data .git {
	height: 22px;
	width: 27px;
	padding-left: 3px;
}
.mainbody .data .pin {
	height: 19px;
	width: 22px;
}
.data_padding {
	color: #828597;
	padding-right: 5.5px;
}
.data .data3 {
	padding-left: 0.5px;
}

.data .data2 {
	padding-left: 1.5px;
}
.pa-button {
	margin-top: 13px;
}
.pa-button .profilebut {
	margin-left: 25px;
	margin-bottom: 16px;
	padding: 4px 11px 7px 11.5px;
	border-radius: 50px;
	background-color: #f48225;
	border: none;
	color: #ffff;
}
.pa-button .profilebut:hover {
	background-color: #e64a0c;
}
.pa-button .activitybut {
	margin-left: 5px;
	margin-bottom: 16px;
	padding: 4px 10.5px 7px 11.5px;
	border-radius: 50px;
	border: none;
	color: #62768e;
	background-color: #ffff;
}
.pa-button .activitybut:hover {
	background-color: #f1f2f3;
}			
.status {										/*status box layer2*/
	margin-left: 24.5px;
}
.title {
	font-size: 21;
}
.statusdata table {
	border: 1px solid #e6e7e9;
	margin: 10px 0px 0px 1px;
	padding: 7px 10px 0px 9px;
	border-radius: 6px;
}
.statusdata table img {
	width: 24.5px;
	padding-top: 14px;
}
.stat-box {
	line-height: 19px;
}
.stat-box2 {
	line-height: 18.5px;
}
.stat-trophy {
	line-height: 8px;
}
.nos {
	font-size: 17px;
}
.no {
	padding-top: 2px;
}
.status_value {
	color: #8985a1;
}
.nopadding {
	padding-left: 44px;
	padding-right: 46px;
}
.no3 {
	padding-top: 14px;
}
#over {
	padding-bottom: 6px;
}
.collective {
	margin-left: 24.5px;
	margin-top: 32px;
}
.collective table {
	border: 1px solid #e6e7e9;
	margin: 9.5px 0 0 1px;
	border-radius: 6px;
	padding-bottom: 7px;
}
.cloud img {
	width: 54px;
	margin: 10px 0 0 6px;
}
.google {
	font-size: 15px;
	padding: 5px 81px 0px 3px;
	color: #58483d;
}
.google p {
	font-size: 12px;
	color: #4b4045;
	padding-top: 1.2px;
}
.google img {
	width: 5px;
	margin-right: 3px;
	padding-bottom: 1px;
}
.sublayer2 .about {
	margin-left: 23.8px;
}
.abouttitle {
	font-size: 21px;
	margin-bottom: 9.5px;
}
.line_data {
	font-size: 15px;
	color: #494151;
}
.about a {
	color: #408cce;
}
.line2 {
	padding-top: 2px;
}
.line3 {
	padding-top: 3px;
}
.site {
	padding-top: 19px;
}
.about ul {
	color: #3b4045;
	font-size: 15px;
	margin: 19px 0 0px 30px;
}
.blog_article_padding {
	padding-top: 10.5px;
}
#twit {
	padding-top: 11.5px;
}
.line4 {
	padding-top: 18.5px;
}
.community {
	margin-left: 25px;
	margin-top: 22px;
}
.communitytitle {
	font-size: 21px;
}
.view img {
	width: 20px;
	padding-top: 2px;
}
.view {
	color: #87939d;
	padding-left: 56px;
	vertical-align: text-top;
}
.view:hover {
	color: #6c757d;
}
.communitybox table {
	border: 1px solid #e6e7e9;
	margin-top: 9px;
	padding: 13px 0 12px 2px;
	border-radius: 5px;
}

#meta img {
	width: 23px;
	padding: 2px 0px 2px 4px;
}
#server img {
	width: 29px;
}
#stackoverflow img {
	padding: 1px 0px 2px 3px;
}
#super img {
	padding-left: 1.5px;
	height: 27px;
	width: 25px;
}
#stackoverflow img {
	width: 24.5px;
}
#sw img {
	width: 27px;
	padding: 1px 0 0 1px;
}
#stackoverflow2 {
	padding: 0px 17.5px 6px 35px;
}
#meta2 {
	padding-left: 32.5px;
	padding-bottom: 4px;
}
#super2 {
	padding-bottom: 2px;
	padding-left: 39.5px;
}
.server_sw {
	padding-bottom: 5px;
	padding-left: 39.5px;
}
.community_color2 {
	color: #7a8b94;
}
.community_color1 {
	color: #4886ce;
	padding-bottom: 6px;
}
.community_color1:hover {
	color: #84aede;
}
.badge .badgedatas {									/* badge */
	border: 1px solid #e6e7e9;
	margin-top: 9px;
	margin-left: 1px;
	padding: 0 4px 2px 2.5px;
	border-radius: 5px;
}
.badge table li {
	list-style-position: inside;
}
.badge {
	margin-left: 20px;
	margin-top: 17px;
}
.badgetitle {
	font-size: 21px;
	padding-left: 1.5px;
}
.badge #goldimg {
	width: 64.5px;
	padding-right: 1.5px;
}
.ng{
	font-size: 21px;
	font-weight: 600;
}
#num-g {
	padding-top: 7px;
}
.bd {
	color: #5a5c5e;
	font-size: 12px;
	vertical-align: baseline;
}
.dot {
	color: #ffcc01;
}
.bb {
	border: 1px solid #e0e2e5;
	background-color: #f1f2f3;
	color: #7d7885;
	border-radius: 5px;
	font-size: 11px;
	padding: 1px 2px 5px 5px;
}
.bb:hover {
	background-color: #e3e5e7;
}
.b1 span {
	padding-left: 1.5px;
}
.bd1 {
	font-size: 11px;
	padding-left: 69px;
}
.table1 {
	line-height: 15px;
	padding-top: 4.5px;
}
.table2 {
	border-spacing: 8px;
	margin-left: 1px;
}
.badge .silver {
	border: 1px solid #e6e7e9;
	margin-top: 37px;
	margin-left: 4px;
	padding: 0 6px 1px 2.5px;
	border-radius: 5px;
}
.badge #silverimg {
	width: 62px;
	padding-right: 2.5px;
	padding-left: 1.5px;
}
#num-s {
	padding-top: 6.5px;
}
.silverdot {
	color: #b4b8bc;
}
#b2 span {
	padding-left: 1.5px;
}
.bronze {
	padding-left: 153px;
	color: #87939d;
}
#num-b {
	padding-top: 8px;
}
.bronze:hover {
	color: #6c757d;
}
.bronzedot {
	color: #d1a684;
}
.bronzedata {
	border: 1px solid #e6e7e9;
	margin-top: 19px;
	border-radius: 5px;
	margin-right: 5px;
	margin-left: 4px;
	padding: 0 4.5px 4px 2.5px;
}
.badge #bronzeimg {
	width: 62px;
	padding-right: 3px;
	padding-left: 0.5px;
	padding-top: 0.5px;
}
#b3 span {
	padding-left: 1px;
}
.tags {
	padding-left: 293px;
	padding-top: 20px;
}
.tagtitle {
	font-size: 21px;
}
.tagview {
	float: right;
	padding-top: 6px;
	color: #87939d;
}
.tagview:hover {
	color: #6c757d;
}
.tagtable {
	border-color: #e6e7e9;
	border-style: solid;
	border-width: 1px 1px 0 1px;
	margin-top: 9.5px;
	border-radius: 5px;
}
.tagtable table td {
	border-bottom: 1px solid #e6e7e9;
}
.tagtable button {
	color: #4d86b0;
	background: #e1ecf4;
	border: none;
	padding: 3px 5px 8px 5.2px;
	margin: 11px 0px 12px 10px;
	border-radius: 3px;
	font-size: 12px;
	height: 24.5px;
}
.tagtable button:hover {
	background: #c1e1ec;
}
.tdot {
	color: #ffcc01;
	padding-left: 6px;
}
.tt {
	padding-top: 9.5px;
	vertical-align: baseline;
}
.tagno {
	font-size: 17px;
	padding-right: 2px;
}
.tagno1 {
	padding-left: 405px;
	font-size: 17px;
	padding-right: 2px;
}
.tagdata {
	color: #8a8598;
	padding-right: 14px;
	padding-top: 13px;
	vertical-align: top;
}
.tagdata1 {
	padding-right: 9.5px;
}
.post-container {
	padding-left: 293.5px;
	padding-top: 19px;
}
.post {
	float: right;
	padding: 18px 7.5px 0px 0px;
}
.posttitle {
	font-size: 21px;
}
.post button {
	height: 28px;
	border: none;
	background: transparent;
	color: #7d7885;
	font-size: 11;
	border: 1px solid #7d7885;
	padding-left: 6px;
	padding-right: 6px;
}
.post .s:hover {
	background-color: #e8f4f8;
}
.post .r1 {
	background: #e3e6e8;
	border-radius: 4px 0 0 4px;
}
.post .r2 {
	border-radius: 0 4px 4px 0;
}
.postbutn2 {
	padding-left: 5px;
	padding-right: 8px;
}
.postview a {
	color: #7786d4;
}
.postview {
	color: #7d7885;
}
.posttable {
	border-color: #e6e7e9;
	border-style: solid;
	border-width: 1px 1px 0 1px;
	margin-top: 9px;
	border-radius: 5px;
	margin-right: 16px;
}
.posttable td {
	border-bottom: 1px solid #e6e7e9;
}
.posttable img {
	height: 24px;
	width: 25.5px;
	padding-left: 5px;
	padding-bottom: 3px;
}
.posttable button {
	background-color: #5eba7d;
	border: none;
	border-radius: 3px;
	height: 26px;
	width: 38px;
	color: #ffff;
	font-size: 12px;
	padding-bottom: 2px;
	margin: 10px 0px 12.5px 7.5px;
}
.posttable button:hover {
	cursor: text;
}
.question {
	font-size: 15px;
	color: #178cda;
	padding-left: 10px;
	padding-bottom: 4px;
}
.questiondate {
	color: #7d7885;
	padding-right: 3px;
	padding-left: 151px;
	padding-bottom: 4px;
}
.different {
	border: 1px solid #e0e2e5;
	background: transparent;
	color: #000000;
}
.different:hover {
	cursor: text;
}
.questions {
	font-size: 15px;
	color: #178cda;
	padding-left: 10px;
	padding-right: 13px;
	padding-bottom: 4px;
	width: 686px;
}
.question_hover:hover{
	color: #2dc7e3;
}
.metapost {
	padding-left: 293.5px;
	padding-top: 17px;
}
.meta span {
	color: #7d7885;
}
.meta {
	float: right;
	margin-top: 8px;
	margin-right: 17px;
}
.metatitle {
	font-size: 21px;
}
.metatable {
	border-color: #e6e7e9;
	border-style: solid;
	border-width: 1px 1px 0 1px;
	margin-top: 11px;
	border-radius: 5px;
	margin-right: 14.5px;
}
.metatable td {
	border-bottom: 1px solid #e6e7e9;
}
.metatable button {
	border-radius: 3px;
	height: 25px;
	width: 37px;
	font-size: 12px;
	margin: 10px 1px 12px 8px;
}
#metaq {
	height: 20px;
}
#metaa {
	height: 21px;
	width: 23px;
	padding-left: 6.5px;
}
.stackg {
	height: 22px;
	padding-bottom: 4px;
	padding-left: 8px;
}
.netview {
	float: right;
	color: #87939d;
	margin-top: 8px;
	padding-right: 15px;
}
.netview:hover {
	color: #6c757d;
}
.network {
	height: 28px;
	width: 28px;
	padding: 0 2.5px 4px 3.5px;
}
.nettitle {
	font-size: 21px;
}
.nettable {

	border-color: #e6e7e9;
	border-style: solid;
	border-width: 1px 1px 0 1px;
	margin-top: 11px;
	border-radius: 5px;
	margin-right: 16px;
}
.nettable td {
	border-bottom: 1px solid #e6e7e9;
}
.nettable .networks {
	height: 25px;
	padding-bottom: 7px;
	padding-left: 6px;
}
.nettable button {
	border-radius: 3px;
	height: 26px;
	width: 38px;
	font-size: 12px;
	margin: 10px 0px 12px 3.5px;
}
.net {
	padding-left: 293.5px;
	padding-top: 17px;
}
#some {
	color: white;
}										/*footer*/
.footer img {
	width: 53px;
	padding-top: 12.5px;
	padding-left: 15px;
}
.foot_container {
	Background-color: #242526;
	padding-bottom: 32px;
}
.foot-column {
	padding-top: 30.5px;
	margin-left: 20px;
}
.foot-column2 {
	padding-top: 30.5px;
	margin-left: 99px;
}
.head {
	font-weight: bold;
	color: #babfc4;
	padding-bottom: 15.5px;
}
.subhead_color {
	color: #808b93;
}
.subhead {
	padding-bottom: 7.5px;
}
.subheadfirst {
	padding-bottom: 8px;
}
.subheadl {
	padding-bottom: 7px;
}

.subhead-bus {
	padding-bottom: 23.5px;
}
.extradata {
	padding-top: 0.5px;
}
.subhead-terms {
	padding-bottom: 7.5px;
}
.foot_hover:hover{
	color: #babfc4;
}
.foot-column2 .subheads {
	color: #242526;
}
.foot-column3 {
	padding-top: 34.5px;
	padding-left: 90.2px;
	font-size: 11px;
}
.foot-column3 a {
	color: #94999d;
	padding-left: 9px;
}
.license {
	color: #6b7c86;
	font-size: 11px;
	padding-top: 206px;
	padding-left: 9px
}
.foot-column3 a:hover {
	color: #babfc4;
}
.clear {
	clear: both;
}